/* Buttons 22/01/25 */
.button-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .btnnn {
    background-color: #bb86fc; /* Button color */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 100%; /* Make the button take full width on mobile */
    max-width: 200px; /* Maximum width of the button */
  }
  
  .btnnn:hover {
    background-color: #bb86fc; /* Button hover effect */
  }
  
  /* Responsive Design for Mobile */
  @media (max-width: 768px) {
    .button-container3 {
      height: auto; /* Allow height to be flexible on smaller screens */
      padding-top: 50px; /* Add some padding on top to space out the buttons */
    }
  
    .btnnn {
      width: 80%; /* Make buttons slightly smaller on mobile */
      max-width: none; /* Remove max-width restriction for mobile */
      padding: 10px 20px; /* Adjust padding for smaller buttons */
      font-size: 14px; /* Decrease font size for mobile */
    }
  }
  